/**
 * @file mip-semi-fixed样式文件
 */

mip-semi-fixed div[mip-semi-fixed="semifixed"],
.mip-fixedlayer div[mip-semi-fixed="semifixed"] {
    opacity: 0;
    left: 0;
    right: 0;
    left: 0;
    // max-height: 90px;
}

mip-semi-fixed div[mip-semi-fixed="static"] {
    opacity: 1;
}
