mip-video-repeat {
	width: 100%;
	position: relative;
	.iconfont{
		font-family:"iconfont" !important;
		font-size:16px;font-style:normal;
		-webkit-font-smoothing: antialiased;
		-webkit-text-stroke-width: 0.2px;
		-moz-osx-font-smoothing: grayscale;
	}
	video {
	display: block;
	background-color: rgb(0, 0, 0);
	}
	>.video-mask {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, .3);
		display: flex;
		justify-content: center;
		align-items: center;
		.video-replay-button {
			width: 50px;
			height: 50px;
			background: rgba(0,0,0,0.4);
			.iconfont {
				position: relative;
				line-height: 50px;
				width: 50px; 
				height: 50px;
				left: 15px;
				font-size: 26px;
				color: rgba(255,255,255,0.7);
				text-align: center;
			}
		}
	}
	.rec-video-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		background: rgba(0, 0, 0, .3);
		display: flex;
		justify-content: space-between;
		align-items: center;
		.left-container {
			width: 270px;
			height: 200px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-content: center;
			.rec-video-container {
				width: 170px;
				height: 100px;
				.rec-video {
					position: relative;
					.video-poster {
						width: 170px;
						overflow: hidden;
					}
					.video-title {
						position: absolute;
						bottom: 0;
						left: 0;
						line-height: 20px;
						font-size: 16px;
						height: 20px;
					}
				}
			}
		}
		.right-container {
			flex-grow: 1;
			height: 200px;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

}