mip-zzmobile-slideartical {
    display: block;
    .mip-vd-tabs-nav-view {
        background-color: #2065c4;
        text-align: center;
        .mip-vd-tabs-nav {
            background-color: #2065c4;
            .mip-vd-tabs-nav-li {
                color: #b0cbf4;
            }
            .mip-vd-tabs-nav-selected {
                border: none;
                color: #fff;
            }
        }
    }
}