@charset "utf-8";
/*core variables*/
/*=====Typography======*/
/*=====Colors======*/
/*=====tooltip======*/
/*=====buttons======*/
/*=====Scaffolding======*/
/*====table====*/
/*====page====*/
/*==popup===*/
/*alert*/
/*datepicker*/
/*form*/
/*core ui*/
/*ui base*/
/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  color: #333333;
  background: #ffffff;
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/* 内外边距通常让各个浏览器样式的表现位置不同 */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
/**
 * Correct `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* 要注意表单元素并不继承父级 font 的问题 */
body,
button,
input,
select,
textarea {
  font-size: 12px;
  line-height: 1.5;
  font-family: arial, "Hiragino Sans GB", simsun, sans-serif;
}
input,
select,
textarea {
  font-size: 100%;
  background: #ffffff;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}
/* 去掉各Table  cell 的边距并让其边重合 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* IE bug fixed: th 不继承 text-align*/
th {
  text-align: inherit;
}
/* 去除默认边框 */
fieldset,
img {
  border: 0;
}
/* ie6 7 8(q) bug 显示为行内表现 */
iframe {
  display: block;
}
/* 去掉 firefox 下此元素的边框 */
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
/* 一致的 del 样式 */
del {
  text-decoration: line-through;
}
address,
caption,
cite,
code,
dfn,
em,
th,
var {
  font-style: normal;
  font-weight: 500;
}
/* 去掉列表前的标识, li 会继承 */
ol,
ul {
  list-style: none;
}
/* 对齐是排版最重要的因素, 别让什么都居中 */
caption,
th {
  text-align: left;
}
/* 来自yahoo, 让标题都自定义, 适应多个系统应用 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 500;
}
q:before,
q:after {
  content: '';
}
/* 统一上标和下标 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/*鼠标聚焦时不显示虚线框 FireFox*/
a:focus,
input:focus,
button:focus {
  outline: none;
}
/* 默认不显示下划线，保持页面简洁 */
ins,
a {
  text-decoration: none;
}
/* 代码字体 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/* 清理浮动 */
.ui-clear:after {
  display: block;
  content: " ";
  clear: both;
}
/* 隐藏, 通常用来与 JS 配合 */
body .ui-hide {
  display: none;
}
/* 设置内联, 减少浮动带来的bug */
.ui-left,
.ui-right {
  display: inline;
}
.ui-left {
  float: left;
}
.ui-right {
  float: right;
}
/* 单行文字溢出时出现省略号，需设定宽度 */
.ui-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/* chrome 下字体过小的问题 */
.ui-webkit-adjust {
  -webkit-text-size-adjust: none;
}
/* 正常链接 未访问 */
a:link,
a:visited {
  color: #4372ba;
}
/* 鼠标悬停 */
a:hover {
  color: #ff4400;
  text-decoration: none;
}
.ui-verticalMiddle {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
/*ui grid*/
.ui-grid-1,
.ui-grid-2,
.ui-grid-3,
.ui-grid-4,
.ui-grid-5,
.ui-grid-6,
.ui-grid-7,
.ui-grid-8,
.ui-grid-9,
.ui-grid-10 {
  float: left;
  display: inline;
}
.ui-grid-1 {
  width: 10%;
}
.ui-grid-2 {
  width: 20%;
}
.ui-grid-3 {
  width: 30%;
}
.ui-grid-4 {
  width: 40%;
}
.ui-grid-5 {
  width: 50%;
}
.ui-grid-6 {
  width: 60%;
}
.ui-grid-7 {
  width: 70%;
}
.ui-grid-8 {
  width: 80%;
}
.ui-grid-9 {
  width: 90%;
}
.ui-grid-10 {
  width: 100%;
}
.ui-grid-row:after {
  display: block;
  content: " ";
  clear: both;
}
/*ui-table*/
.ui-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.ui-table tr th,
.ui-table tr td {
  color: #333333;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  background: #fff;
}
.ui-table tr th {
  font-weight: 500;
  line-height: 30px;
  color: #808080;
  border-bottom: 1px solid #bbbbbb;
}
.ui-table tr td {
  background: #fff;
  border-bottom: 1px solid #bbbbbb;
  padding: 5px 0;
  vertical-align: middle;
}
.ui-table tr td:first-child {
  padding-left: 5px;
  text-align: left;
}
.ui-table tr td:last-child {
  padding-right: 5px;
}
.ui-table tr td.ui-table-up {
  color: #cc0000;
}
.ui-table tr td.ui-table-down {
  color: #008000;
}
.ui-table-hover tr:active td {
  background: #eeeeee;
}
/*ui button*/
.ui-btn {
  margin-bottom: 0;
  /*for input.ui-btn*/
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  font-family: inherit;
  /* Correct font family not being inherited in all browsers for <button> <input> */
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
}
.ui-btn:hover {
  text-decoration: none;
}
.ui-btn-orange {
  color: #ffffff;
  background: #ff4400;
  border-color: #ff4400;
}
a.ui-btn-orange:link,
a.ui-btn-orange:active,
a.ui-btn-orange:visited {
  color: #ffffff;
}
/*
.ui-btn-orange:active {
  color: #ffffff;
  background: #e8260c;
  border-color: #e8260c;
}
*/
.ui-btn-gray {
  cursor: default;
  color: #cccccc;
  background: #e4e4e4;
  border-color: #e4e4e4;
}
a.ui-btn-gray:link,
a.ui-btn-gray:visited {
  color: #cccccc;
}
.ui-btn-gray:active {
  color: #cccccc;
  background: #e4e4e4;
  border-color: #e4e4e4;
}
.ui-btn-sgray {
  color: #808080;
  background: #e6e6e6;
  border-color: #cccccc;
}
a.ui-btn-sgray:link,
a.ui-btn-sgray:visited {
  color: #808080;
}
.ui-btn-sgray:active {
  color: #808080;
  background: #e6e6e6;
  border-color: #cccccc;
}
.ui-btn-blue {
  color: #c0c7cf;
  background: #5199e8;
  border-color: #2980d2;
}
a.ui-btn-blue:link,
a.ui-btn-blue:visited {
  color: #c0c7cf;
}
.ui-btn-blue:active {
  color: #c0c7cf;
  background: #5199e8;
  border-color: #2980d2;
}
.ui-btn-fwhite {
  color: #ff4400;
  background: #ffffff;
  border-color: #ff4400;
}
a.ui-btn-fwhite:link,
a.ui-btn-fwhite:visited {
  color: #ff4400;
}
.ui-btn-fwhite:active {
  color: #ff4400;
  background: #ffffff;
  border-color: #ff4400;
}
.ui-btn-white {
  color: #333333;
  background: #ffffff;
  border-color: #d9d9d9;
}
a.ui-btn-white:link,
a.ui-btn-white:visited {
  color: #333333;
}
.ui-btn-white:active {
  color: #333333;
  background: #d9d9d9;
  border-color: #d9d9d9;
}
.ui-btn-l {
  width: 100%;
  min-width: 58px;
  height: 44px;
  font-size: 16px;
  line-height: 44px;
  border-radius: 5px;
}
button.ui-btn-l,
input.ui-btn-l {
  width: 100%;
  min-width: 60px;
  height: 46px;
  line-height: normal;
  border-radius: 5px;
}
.ui-btn-s {
  width: 100%;
  min-width: 48px;
  height: 25px;
  font-size: 12px;
  line-height: 25px;
  border-radius: 3px;
}
button.ui-btn-s,
input.ui-btn-s {
  width: 100%;
  min-width: 50px;
  height: 27px;
  line-height: normal;
  border-radius: 3px;
}

/*ui-affix*/
.ui-affix {
  position: fixed;
}
.lt-ie7 .ui-affix {
  position: absolute;
}
.ui-affix-bottom,
.ui-affix-top {
  position: absolute;
}
