@font-face {
    font-family: "iconfont";
    src: url('../iconfont/iconfont.eot'); /* IE9*/
    src: url('../iconfont/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../iconfont/iconfont.woff') format('woff'), /* chrome¡¢firefox */
    url('../iconfont/iconfont.ttf') format('truetype'), /* chrome¡¢firefox¡¢opera¡¢Safari, Android, iOS 4.2+*/
    url('../iconfont/iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont:before{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
.iconfont:after{
    font-family:"iconfont" !important;
    font-size:16px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

.loading[type] {
    display: block;
    overflow: hidden;
    -webkit-animation-duration: 1.5s;
    -ms-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -o-animation-duration: 1.5s;
    animation-duration: 1.5s;

    -webkit-animation-timing-function: linear;
    -ms-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;

    -webkit-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-background-size: 100%;
    -ms-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;

    -webkit-transform:rotate(0);
    -ms-transform:rotate(0);
    -moz-transform:rotate(0);
    -o-transform:rotate(0);
    transform:rotate(0);


    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-perspective: 1000;
    -ms-perspective: 1000;
    -moz-perspective: 1000;
    -o-perspective: 1000;
    perspective: 1000;
}
.loading[type="12"] {
    width: 35px;
    height: 35px;
    -webkit-animation-name: loadingA;
    -ms-animation-name: loadingA;
    -moz-animation-name: loadingA;
    -o-animation-name: loadingA;
    animation-name: loadingA;
    background: url(../images/ui/spinner_type12.png) 0 0 no-repeat;
    background-size: 35px 35px;
}
.loading[type="12"][small] { width: 20px; height: 20px;
    -webkit-animation-name: loadingA;
    -ms-animation-name: loadingA;
    -moz-animation-name: loadingA;
    -o-animation-name: loadingA;
    animation-name: loadingA;
    background: url(../images/ui/spinner_type12_small.png) 0 0 no-repeat;
}
.loading[type="8"] { width: 14px; height: 14px;
    -webkit-animation-name: loadingB;
    -ms-animation-name: loadingB;
    -moz-animation-name: loadingB;
    -o-animation-name: loadingB;
    animation-name: loadingB;
    background: url(../images/ui/spinner_type8.png) 0 0 no-repeat;
}
.loading[type="12"][black] { width: 35px; height: 35px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12_black.png) 0 0 no-repeat;}
.loading[type="12"][small][black] { width: 20px; height: 20px; -webkit-animation-name: loadingA; background: url(../images/ui/spinner_type12_black_small.png) 0 0 no-repeat;}
.loading[type="8"][black] { width: 14px; height: 14px; -webkit-animation-name: loadingB; background: url(../images/ui/spinner_type8_black.png) 0 0 no-repeat;}

@-webkit-keyframes "loadingA" {
    0%		{
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    8.3% 	{
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    8.3001%	{
        -moz-transform:rotate(30deg);
        -ms-transform:rotate(30deg);
        -o-transform:rotate(30deg);
        -webkit-transform:rotate(30deg);
        transform:rotate(30deg);
    }
    16.7%	{
        -moz-transform:rotate(30deg);
        -ms-transform:rotate(30deg);
        -o-transform:rotate(30deg);
        -webkit-transform:rotate(30deg);
        transform:rotate(30deg);
    }
    16.7001%{
        -moz-transform:rotate(60deg);
        -ms-transform:rotate(60deg);
        -o-transform:rotate(60deg);
        -webkit-transform:rotate(60deg);
        transform:rotate(60deg);
    }
    25% 	{
        -moz-transform:rotate(60deg);
        -ms-transform:rotate(60deg);
        -o-transform:rotate(60deg);
        -webkit-transform:rotate(60deg);
        transform:rotate(60deg);
    }
    25.001%	{
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    33.3% 	{
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    33.3001%{
        -moz-transform:rotate(120deg);
        -ms-transform:rotate(120deg);
        -o-transform:rotate(120deg);
        -webkit-transform:rotate(120deg);
        transform:rotate(120deg);
    }
    41.7% 	{
        -moz-transform:rotate(120deg);
        -ms-transform:rotate(120deg);
        -o-transform:rotate(120deg);
        -webkit-transform:rotate(120deg);
        transform:rotate(120deg);
    }
    41.7001%{
        -moz-transform:rotate(150deg);
        -ms-transform:rotate(150deg);
        -o-transform:rotate(150deg);
        -webkit-transform:rotate(150deg);
        transform:rotate(150deg);
    }
    50% 	{
        -moz-transform:rotate(150deg);
        -ms-transform:rotate(150deg);
        -o-transform:rotate(150deg);
        -webkit-transform:rotate(150deg);
        transform:rotate(150deg);
    }
    50.001%	{
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    58.3% 	{
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    58.3001%{
        -moz-transform:rotate(210deg);
        -ms-transform:rotate(210deg);
        -o-transform:rotate(210deg);
        -webkit-transform:rotate(210deg);
        transform:rotate(210deg);
    }
    66.7% 	{
        -moz-transform:rotate(210deg);
        -ms-transform:rotate(210deg);
        -o-transform:rotate(210deg);
        -webkit-transform:rotate(210deg);
        transform:rotate(210deg);
    }
    66.7001%{
        -moz-transform:rotate(240deg);
        -ms-transform:rotate(240deg);
        -o-transform:rotate(240deg);
        -webkit-transform:rotate(240deg);
        transform:rotate(240deg);
    }
    75% 	{
        -moz-transform:rotate(240deg);
        -ms-transform:rotate(240deg);
        -o-transform:rotate(240deg);
        -webkit-transform:rotate(240deg);
        transform:rotate(240deg);
    }
    75.001% {
        -moz-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg);
    }
    83.3% 	{
        -moz-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg);
    }
    83.3001%{
        -moz-transform:rotate(300deg);
        -ms-transform:rotate(300deg);
        -o-transform:rotate(300deg);
        -webkit-transform:rotate(300deg);
        transform:rotate(300deg);
    }
    91.7% 	{
        -moz-transform:rotate(300deg);
        -ms-transform:rotate(300deg);
        -o-transform:rotate(300deg);
        -webkit-transform:rotate(300deg);
        transform:rotate(300deg);
    }
    91.7001%{
        -moz-transform:rotate(330deg);
        -ms-transform:rotate(330deg);
        -o-transform:rotate(330deg);
        -webkit-transform:rotate(330deg);
        transform:rotate(330deg);
    }
    100% 	{
        -moz-transform:rotate(330deg);
        -ms-transform:rotate(330deg);
        -o-transform:rotate(330deg);
        -webkit-transform:rotate(330deg);
        transform:rotate(330deg);
    }
}

@-webkit-keyframes "loadingB" {
    0%		{
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    12.5% 	{
        -moz-transform:rotate(0deg);
        -ms-transform:rotate(0deg);
        -o-transform:rotate(0deg);
        -webkit-transform:rotate(0deg);
        transform:rotate(0deg);
    }
    12.5001%{
        -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
    }
    25%		{
        -moz-transform:rotate(45deg);
        -ms-transform:rotate(45deg);
        -o-transform:rotate(45deg);
        -webkit-transform:rotate(45deg);
        transform:rotate(45deg);
    }
    25.001%	{
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    37.5% 	{
        -moz-transform:rotate(90deg);
        -ms-transform:rotate(90deg);
        -o-transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        transform:rotate(90deg);
    }
    37.5001%{
        -moz-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
        -o-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg);
    }
    50%{
        -moz-transform:rotate(135deg);
        -ms-transform:rotate(135deg);
        -o-transform:rotate(135deg);
        -webkit-transform:rotate(135deg);
        transform:rotate(135deg);
    }
    50.001%	{
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    62.5% 	{
        -moz-transform:rotate(180deg);
        -ms-transform:rotate(180deg);
        -o-transform:rotate(180deg);
        -webkit-transform:rotate(180deg);
        transform:rotate(180deg);
    }
    62.5001%{
        -moz-transform:rotate(225deg);
        -ms-transform:rotate(225deg);
        -o-transform:rotate(225deg);
        -webkit-transform:rotate(225deg);
        transform:rotate(225deg);
    }
    75% 	{
        -moz-transform:rotate(225deg);
        -ms-transform:rotate(225deg);
        -o-transform:rotate(225deg);
        -webkit-transform:rotate(225deg);
        transform:rotate(225deg);
    }
    75.001% {
        -moz-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg);
    }
    87.5% 	{
        -moz-transform:rotate(270deg);
        -ms-transform:rotate(270deg);
        -o-transform:rotate(270deg);
        -webkit-transform:rotate(270deg);
        transform:rotate(270deg);
    }
    87.5001%{
        -moz-transform:rotate(315deg);
        -ms-transform:rotate(315deg);
        -o-transform:rotate(315deg);
        -webkit-transform:rotate(315deg);
        transform:rotate(315deg);
    }
    100% 	{
        -moz-transform:rotate(315deg);
        -ms-transform:rotate(315deg);
        -o-transform:rotate(315deg);
        -webkit-transform:rotate(315deg);
        transform:rotate(315deg);
    }
}

/* Ä¬ÈÏµÄloadingÑùÊ½ */
#_loadingMaskUI_ {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99999;
    display: none;}

#_loadingMaskUI_ .inner {
    display: table-row;
    width: 100%;
    height: 100%;
    position: relative;
}

#_loadingMaskUI_ .inner ._maskload_ {
    height: 92px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.85);
    padding: 20px 0 8px 0;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    border-radius: 5px;
}

#_loadingMaskUI_ .inner ._maskload_ .loading { margin: 0 auto 10px auto;}

#_loadingMaskUI_ .inner ._maskload_ span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}

#_loadingMaskUI_ .inner ._maskerror_ {
    height: 72px;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.85);
    padding: 20px 0 8px 0;
    margin: -90px 0 0 -45px;
    border-radius: 5px;
}

#_loadingMaskUI_ .inner ._maskerror_ span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}

/* Ä¬ÈÏµÄloadingÑùÊ½ */
#_successMaskUI_ {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
    z-index: 99999;
    display: none;
}

#_successMaskUI_ .inner {
    display: table-row;
    width: 100%;
    height: 100%;
    position: relative;
}

#_successMaskUI_ .inner ._mask_ {
    height: 92px;
    width: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.85);
    padding: 20px 0 8px 0;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    border-radius: 5px;
}

#_successMaskUI_ .inner ._mask_ ._success_ { 
    margin: 0 auto 10px auto;
    position: relative;   
    height: 40px;
}
#_successMaskUI_ .inner ._mask_ ._success_:before { 
    content: "\e645";
    font-size: 50px;
    height: 40px;
    color: #fff;
    position: absolute;
    left: 50%;
    width: 40px;
    margin-left: -20px;
    top: -10px;
}
#_successMaskUI_ .inner ._mask_ span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    height: 22px;
    line-height: 22px;
}
/* Ä¬ÈÏµÄloadingÑùÊ½ */
#_TipMaskUI_ {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 99999;
    display: none;
}

#_TipMaskUI_ .inner {
    display: table-row;
    width: 100%;
    height: 100%;
    position: relative;
}

#_TipMaskUI_ .inner ._mask_ {
    width: 160px;
    position: absolute;
    left: 50%;
    top: 50%;
    overflow: hidden;
    background: rgba(0,0,0,0.5);
    padding: 15px 10px;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    border-radius: 5px;
}

#_TipMaskUI_ .inner ._mask_ ._success_ { 
    margin: 0 auto 10px auto;
    position: relative;   
    height: 40px;
}

#_TipMaskUI_ .inner ._mask_ span {
    display: block;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    line-height: 22px;
}


/*cfxixi code 20130620 µ¯³ö¿òµÄÑùÊ½*/
.PasswordMasker,
.confirmMasker,
.alertMasker,
.TTfundMasker {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 99998;
    display: none;
}



.PasswordMasker>div .Password,
.confirmMasker>div .confirm,
.alertMasker>div .alert,
.TTfundMasker>div .TTfund  {
    display: table-row;
    width: 100%;
    height: 100%;
    position: relative;
}

.PasswordMasker>div .Password .inner{
    width: 270px;
    background: #f0eff5;
    border-radius: 14px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
.TTfundMasker>div .TTfund .inner{
    width: 270px;
    background: #f0eff5;
    border-radius: 14px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
}
.TTfundMasker>div .TTfund h2{
    box-sizing: content-box;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #000000;
    padding: 12px 0 8px;
    border-bottom:1px solid #e1e1e6;
}
.TTfundMasker>div .TTfund .Lcontent{
    /*padding: 15px 15px 5px;*/
    padding-top: 15px;
}
.TTfundMasker>div .TTfund .Lcontent p{
    font-size: 14px;
    color: #808080;
    line-height: 2;
    padding: 0 15px;
}
.confirmMasker>div .confirm .inner,
.alertMasker>div .alert .inner {
    width:270px;
    background: #fff;
    border-radius:14px;
    overflow:hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    padding-top: 10px;
}


.PasswordMasker>div .Password h2{
    box-sizing: content-box;
    font-size: 17px;
    font-weight: normal;
    text-align: center;
    height: 28px;
    line-height: 28px;
    color: #000000;
    padding: 12px 0 8px;
    border-bottom:1px solid #e1e1e6;
}
.PasswordMasker>div .Password .Lcontent{
    padding: 15px 15px 5px;
}
.PasswordMasker>div .Password .Lcontent input{
    width: 100%;
    background: #fff;
    padding: 8px 0px;
    border: 1px solid #e3e2e7;
    border-radius: 5px;
    margin-top: 10px;
    text-indent: 10px;
}
.PasswordMasker>div .Password .Lcontent p{
    font-size: 14px;
    color: #808080;
    padding: 0;
    line-height: 1.5;
}
.PasswordMasker>div .Password .Lcontent p span{
    font-size: 16px;
    color: #000;
}
.confirmMasker>div .confirm h2,
.alertMasker>div .alert h2 {
    box-sizing: content-box;
    font-size:19px;
    font-weight:normal;
    text-align:center;
    height:28px;
    line-height:28px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.8);
    color:#000000;
    padding-top:5px
}

.PasswordMasker>div .Password p,
.confirmMasker>div .confirm p,
.alertMasker>div .alert p {
    color: #000000;
    padding:8px 15px;
    font-size:14px;
    text-align:center;
    font-weight:normal;

}


.PasswordMasker footer,
.TTfundMasker footer,
.confirmMasker footer,
.alertMasker footer {
    display: flex;
    display: -webkit-flex;
    display: -webkit-box;

    -webkit-box-orient: horizontal;
    -ms-box-orient: horizontal;
    -o-box-orient: horizontal;
    -moz-box-orient: horizontal;
    box-orient: horizontal;

    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;

    -webkit-justify-content: distribute;
    -ms-justify-content: distribute;
    -o-justify-content: distribute;
    -moz-justify-content: distribute;
    justify-content: space-around;

    -webkit-box-align: stretch;
    -ms-box-align: stretch;
    -o-box-align: stretch;
    -moz-box-align: stretch;
    box-align: stretch;

    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    -moz-align-items: stretch;
    -o-align-items: stretch;
    align-items: stretch;

    width: 100%;
    box-sizing: border-box;
    padding: 0;
    padding-top: 10px;
}

.PasswordMasker footer>.button,
.TTfundMasker footer>.button,
.confirmMasker footer>.button,
.alertMasker footer>.button {
    display: block;

    -webkit-box-flex: 1;
    -ms-box-flex: 1;
    -o-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;

    -webkit-flex: 1;
    -ms-flex: 1;
    -o-flex: 1;
    -moz-flex: 1;
    flex: 1;

    height: 100%;
    line-height: 30px;
    max-width: 320px;
    font-weight: normal;
    border-top: solid 1px #b5b5b5;
    color: #2d2d2d;
}
.PasswordMasker footer>.button:first-child,
.TTfundMasker footer>.button:first-child,
.confirmMasker footer>.button:first-child,
.alertMasker footer>.button:first-child{
    border-bottom-left-radius:14px;
}
.PasswordMasker footer>.button:last-child,
.TTfundMasker footer>.button:last-child,
.confirmMasker footer>.button:last-child,
.alertMasker footer>.button:last-child{
    border-bottom-right-radius:14px;
}

.PasswordMasker footer>.button[for="no"],
.TTfundMasker footer>.button[for="no"],
.confirmMasker footer>.button[for="no"]{
    color: #808080;
}
.TTfundMasker a.button,
.PasswordMasker a.button{
    line-height: 44px;
    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;
/*    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out;*/
    display: block;
    -webkit-box-sizing: auto;
    -ms-box-sizing: auto;
    -o-box-sizing: auto;
    -moz-box-sizing: auto;
    box-sizing: auto;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
    color: #0066bb;
    border-color: #e1e1e6;
    background-color: rgba(255,255,255,.01);
}

.confirmMasker a.button,
.alertMasker a.button {

    cursor: pointer;
    text-decoration: none;
    font-size: 13pt;

/*    -webkit-transition: all .35s ease-out;
    -ms-transition: all .35s ease-out;
    -o-transition: all .35s ease-out;
    -moz-transition: all .35s ease-out;
    transition: all .35s ease-out;*/

    display: block;

    -webkit-box-sizing: auto;
    -ms-box-sizing: auto;
    -o-box-sizing: auto;
    -moz-box-sizing: auto;
    box-sizing: auto;

    padding: 8px 0;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    text-align: center;
    color: #007aff;
    border-color: #e1e1e6;
    background-color: rgba(255,255,255);
}
.confirmMasker a.button:last-child,
.TTfundMasker a.button:last-child,
.PasswordMasker a.button:last-child{
    border-left:1px solid #e1e1e6;
}

.confirmMasker a.button.BTNactive,
.TTfundMasker a.button.BTNactive,
.PasswordMasker a.button.BTNactive,
.confirmMasker a.button.BTNactive,
.alertMasker a.button.BTNactive{
    background-color:#c8c7cc;
}


.confirmMasker a.button,
.TTfundMasker a.button{
    width: 50%;
}
body {
    width: 100%;
    /*max-width: 800px;*/
    margin: 0 auto;
    font-size: 16px;

  
}

div[pid] {
    display: none;
    position: absolute;
    width: 100%;
    background: #f5f5f9;
    transform-origin: left top;
    -webkit-transform-origin: left top;
     
    
}
#noticeDetailView {
margin-top:-75px;
}




.ui_outer + .ui_outer,.fold_content + .ui_outer{
    border-top: none;
}
.ui_outer{
    background: #fff;
    border-bottom: 1px solid #e3e2e7;
    border-top: 1px solid #e3e2e7;
}
.ui_transparent{
    background: #efeff4;
}
.ui_outer:active{
    background: #fff;
}
.ui_outer.ui_activated{
    background: #eee;
}
.ui_outer.ui_scrolling{
    background: #fff;
}
.ui_outer.ui_blank{
    border-top: 1px solid #e3e2e7;
  //  margin-top: 20px;
}

.ui_inner{
    padding:6px 15px 5px 0; 
    border-top: 1px solid #e3e2e7;
    margin-top: -1px;
    position: relative;
}
.ui_inner_m15{
    margin-left: 15px; 
}
.ui_inner p{
    font-size: 16px;
}
.ui_inner .ui_m{
    font-size: 14px;
}
.ui_inner .ui_s{
    font-size: 12px;
}
.ui_inner .ui_redLabel{
    padding: 3px 4px;
    color: #fff;
    background: #ff0000;
    border-radius: 5px;
    position: relative;
    top: -2px;
}
.ui_inner input{
    width: 100%;
    font-size: 16px;
    height: 16px;
    line-height: 16px;
    background: transparent;
    padding: 8px 0;
}
.ui_h1{
    line-height: 2;
}
.ui_h2,
.ui_h3{
    line-height: 1.5;
}
.ui_alignRight{
    text-align: right;
}
.ui_alignCenter{
    text-align: center;
}
.ui_inner .ui_tips{
    color: #808080;
    font-size: 12px;
}
.ui_delLine{
    text-decoration: line-through;
    color: #808080;
}
.ui_inner .ui_black{
    color: #000;
}
.ui_inner .ui_red{
    color: #ff0000;
}
.ui_inner .ui_green{
    color: #008800;
}
.ui_inner .ui_orange{
    color: #ff4400;
}
.ui_inner .ui_gray{
    color: #808080;
}
.ui_inner .ui_arr,
.ui_inner .ui_good,
.ui_inner .ui_fold,
.ui_inner .ui_unfold,
.ui_inner .ui_error{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(0, -50%);
    -webkit-transform: translate(0, -50%);
}
.ui_inner .ui_unfold:before{
    content:"\e661";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    color: #808080;
    line-height: 1;
    top: 50%;
    margin-top: -8px;
    right: 0;
}
.ui_inner .ui_fold:before{
    content:"\e661";
    -webkit-transform : rotate(180deg);
    -webkit-transform-origin : center center;
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    color: #808080;
    line-height: 1;
    top: 50%;
    margin-top: -8px;
    right: 0;
}
.ui_inner .ui_error:before{
    content:"\e658";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    color: #ff0000;
    line-height: 1;
    top: 50%;
    margin-top: -8px;
    right: 0;
}
.ui_inner .ui_arr:before{
    content:"\e6a3";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    color: #808080;
    line-height: 1;
    top: 50%;
    margin-top: -8px;
    right: 0;
}
.ui_inner .ui_arr p{
    padding-right: 20px;
}
.ui_inner .ui_good:before{
    content:"\e645";
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
    font-size: 24px;
    color: #ff4400;
    line-height: 1;
    top: 50%;
    margin-top: -12px;
    right: 0;
}
.pageContent>p{
    padding: 10px 15px; 
    line-height: 1.5;

}
.pageContent>p + p{
    padding-top: 0;
}
p.ui_remark{
    font-size: 13px;
    color: #808080; 
}
p.ui_remark span.orange{
    color: #ff4400; 
}
p.ui_info{
    font-size: 14px;
    color: #808080;
}
p.ui_info span.black{
    color: #000;
}
div.ui_btn{
    padding: 20px 15px;
}
div.ui_btn + p.ui_remark{
    margin-top: -20px;
}


div.ui_alert{
    padding: 10px 20px;
    padding-left: 43px;
    position: relative;
    border-bottom: 1px solid #e3e2e7;
}
div.ui_alert_warning{
    background: #fff8e0;
}
div.ui_alert_warning:before{
    content: " ";
    background: url(../images/warnTips.png);
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 8px;
    left: 18px;
}
div.ui_alert p{
    font-size: 12px;
}
div.ui_alert p span.o{
    color: #ff4400;
}

div.ui_nav{
    padding: 10px 20px;   
}
div.ui_nav ul{
    width: 100%;
    border: 1px solid #848484;
    overflow: hidden;
    border-radius: 10px;
}
div.ui_nav ul.li3 li{
    width: 33.33%;
    font-size: 14px;
    
}
div.ui_nav ul.li5 li{
    width: 20%;
    font-size: 14px;
    
}
div.ui_nav li{
    padding: 3px 0;
    float: left;
    text-align: center;
    color: #848484;
    border-left: 1px solid #848484;
    margin-left: -1px;
}


div.ui_nav li.active{
    background: #848484;
    color: #fff;
}


div.ui_pullDown{
    width: 100%;
    padding: 15px 0;
}
div.ui_pullDownLabel{
    position: relative;
}
div.ui_pullDownLabel p{
    font-size: 12px;
    text-align: center;
    color: #808080;
}
div.ui_pullDownLabel span.ui_pullDownIcon.arr{
    background: url(../images/refresh_arrow.png);
    width: 17px;
    height: 48px;
    display: block;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -150px;
    -webkit-transform:rotate(0deg) translateZ(0);
    transform:rotate(0deg) translateZ(0);
    -webkit-transition: all 0.2s ease-out;
}
div.ui_pullDown.flip span.ui_pullDownIcon.arr{
    -webkit-transform:rotate(-180deg) translateZ(0);
    transform:rotate(180deg) translateZ(0);
}
div.ui_pullDownLabel span.ui_pullDownIcon.loading{
    background: url(../images/loading.gif);
    width: 32px;
    height: 32px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
}
div.ui_pullUp{
    width: 100%;
    padding: 5px 0;
}
div.ui_pullUpLabel{
    position: relative;
}
div.ui_pullUpLabel p{
    font-size: 12px;
    text-align: center;
    color: #808080;
}
div.ui_pullUpLabel span.ui_pullUpIcon.loading{
    background: url(../images/loading.gif);
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -70px;
}








.bank_icon{
    position: relative;
}
.bank_icon:before{
    content: " ";
    width: 32px;
    height: 32px;
            background-size: 32px 32px;
    -webkit-background-size: 32px 32px;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -16px; 
}

/*½»Í¨ÒøÐÐ*/
.bank_icon_006:before{
    background-image: url(../images/banks/bank_icon_jiaohang.png);
}
.bank_icon_006_d:before{
    background-image: url(../images/banks/bank_icon_jiaohang_grey.png);
}
/*¹¤ÉÌÒøÐÐ*/
.bank_icon_002:before{
    background-image: url(../images/banks/bank_icon_gongshang.png);
}
.bank_icon_002_d:before{
    background-image: url(../images/banks/bank_icon_gongshang_grey.png);
}
/*Å©ÒµÒøÐÐ*/
.bank_icon_003:before{
    background-image: url(../images/banks/bank_icon_nonghang.png);
}
.bank_icon_003_d:before{
    background-image: url(../images/banks/bank_icon_nonghang_grey.png);
}
/*½¨ÉèÒøÐÐ*/
.bank_icon_005:before{
    background-image: url(../images/banks/bank_icon_jianhang.png);
}
.bank_icon_005_d:before{
    background-image: url(../images/banks/bank_icon_jianhang_grey.png);
}
/*ÖÐ¹úÒøÐÐ*/
.bank_icon_004:before{
    background-image: url(../images/banks/bank_icon_zhonghang.png);
}
.bank_icon_004_d:before{
    background-image: url(../images/banks/bank_icon_zhonghang_grey.png);
}
/*ÖÐÐÅÒøÐÐ*/
.bank_icon_008:before{
    background-image: url(../images/banks/bank_icon_zhongxin.png);
}
.bank_icon_008_d:before{
    background-image: url(../images/banks/bank_icon_zhongxin_grey.png);
}
/*ÕÐÉÌÒøÐÐ*/
.bank_icon_007:before{
    background-image: url(../images/banks/bank_icon_zhaohang.png);
}
.bank_icon_007_d:before{
    background-image: url(../images/banks/bank_icon_zhaohang_grey.png);
}
/*ÐËÒµÒøÐÐ*/
.bank_icon_011:before{
    background-image: url(../images/banks/bank_icon_xinye.png);
}
.bank_icon_011_d:before{
    background-image: url(../images/banks/bank_icon_xinye_grey.png);
}
/*¹â´óÒøÐÐ*/
.bank_icon_012:before{
    background-image: url(../images/banks/bank_icon_guangda.png);
}
.bank_icon_012_d:before{
    background-image: url(../images/banks/bank_icon_guangda_grey.png);
}
/*ÃñÉúÒøÐÐ*/
.bank_icon_014:before{
    background-image: url(../images/banks/bank_icon_minsheng.png);
}
.bank_icon_014_d:before{
    background-image: url(../images/banks/bank_icon_minsheng_grey.png);
}
/*ÓÊÕþ´¢ÐîÒøÐÐ*/
.bank_icon_015:before{
    background-image: url(../images/banks/bank_icon_chuxu.png);
}
.bank_icon_015_d:before{
    background-image: url(../images/banks/bank_icon_chuxu_grey.png);
}
/*»ªÏÄÒøÐÐ*/
.bank_icon_017:before{
    background-image: url(../images/banks/bank_icon_huaxia.png);
}
.bank_icon_017_d:before{
    background-image: url(../images/banks/bank_icon_huaxia_grey.png);
}
/*ÉÏº£ÒøÐÐ*/
.bank_icon_018:before{
    background-image: url(../images/banks/bank_icon_shanghai.png);
}
.bank_icon_018_d:before{
    background-image: url(../images/banks/bank_icon_shanghai_grey.png);
}
/*Æ½°²ÒøÐÐ*/
.bank_icon_020:before{
    background-image: url(../images/banks/bank_icon_pingan.png);
}
.bank_icon_020_d:before{
    background-image: url(../images/banks/bank_icon_pingan_grey.png);
}
/*¹ã·¢ÒøÐÐ*/
.bank_icon_019:before{
    background-image: url(../images/banks/bank_icon_guangfa.png);
}
.bank_icon_019_d:before{
    background-image: url(../images/banks/bank_icon_guangfa_grey.png);
}
/*ÆÖ·¢ÒøÐÐ*/
.bank_icon_009:before{
    background-image: url(../images/banks/bank_icon_pufa.png);
}
.bank_icon_009_d:before{
    background-image: url(../images/banks/bank_icon_pufa_grey.png);
}
.bank_icon p
{
    text-indent: 45px;
}


.successContent{
    padding: 30px 15px;
    position: relative;
}
.successContent.ui-icon-success:before{
    content: "\e656";
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    color: #008000;
    top: 30px;
    left: 50px;
}
.successContent.ui-icon-fail:before{
    content: "\e658";
    position: absolute;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 40px;
    color: #ff0000;
    top: 30px;
    left: 50px;
}
.successContent .container{
    margin-left: 90px;
}
.successContent.ui-icon-success .container  h2{
    color: #008000;
    font-size: 20px;
}
.successContent.ui-icon-fail .container  h2{
    color: #ff0000;
    font-size: 20px;
}
.successContent .container p{
    font-size: 14px;
}
.successContent.ui-icon-fail p{
    color: #ff0000;
}
.successContent .container p.g{
    color: #808080;
    font-size: 12px;
}