/**
 * @file mip-showmore样式文件
 */

mip-showmore {
    .mip-showmore {
    	&-originalhtml {
    		display: none;
    	}
    	&-btnhide {
    		display: none;
    	}
    	&-btnshow {
    		display: none;
    	}
    }
}
