/**
 * @file mip-custom样式文件
 */

@import "pmd.less";

mip-custom {
	background-color: #f5f5f5;
	font-size: 14px;

	[mip-custom-container] {
	    padding: 0 17px;
	    margin-bottom: 10px;
	    background-color: #fff;
	}
	[mip-custom-item] {
	    border-bottom: 1px solid #f1f1f1;
	    padding: 10px 0 8px;
	}
	[mip-custom-item]:first-child {
	    padding-top: 13px;
	}
	[mip-custom-item]:last-child {
	    border-bottom: none;
	    padding-bottom: 10px;
	}
}

