/**
 * @file mip-wygx-classtab样式文件
 */

span{width:100px;line-height: 30px;background-color:orange;display:inline-block;text-align: center;margin:10px;}
.round{
	border-radius: 50%;
}
.square{
	border-radius: 5px;
}
.yellow{
	background-color:yellow!important;
}
.green{
	background-color:green!important;
}
.box,.box1{
	width: 100px;
	height: 100px;
	background-color: #ff6666;
	margin:10px;
	display: inline-block;
	color:#fff;
}

